[API]
environment_domain = <institute>.data.surfsara.nl
key = <API-key>

[GENERAL]
title = Research Drive

[NAME]
label = Project folder name
regex = [\w-_]+
domain_items = BE,WF,TN,BMR,GW
domain_default = WF

[PROJECT_OWNER]
label = Project folder owner

[DESCRIPTION]
label = Description

[CONTRACT]
label = Contract

[QUOTUM]
label = Quotum
items = 10 GB,50 GB,100 GB